* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: rgb(17, 17, 17);
    display: grid;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);
    background-image: linear-gradient(
      32deg,
      rgba(8, 8, 8, 0.74) 30px,
      transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;
  }

  .navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 1rem;
    width: max(25%, 300px);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    cursor: pointer;
  }

  .navbar button {
    font-size: 25px;
    color: rgb(253, 237, 208);
    text-shadow: rgb(7, 24, 46) 1px 1px;
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
  }

  .navbar button:hover {
    color: rgb(127, 255, 212);
    text-shadow: rgb(7, 24, 46) 3px 3px;
  }

  .intro-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
  }

  .intro {
    justify-self: center;
    text-align: center;
    padding:  min(50px, 7%);
    color: rgb(255, 225, 187);
    font-size: 100%;
    line-height: 150%;
  }

  .intro name {
    font-size: large;
  }

  .intro intro-para {
    font-size: larger;
  }

  .section-title {
    padding-top: 75px;
    color: rgb(59, 173, 255);
    text-align: center;
  }

  .home-img {
    max-width: min(500px, 80%);
    justify-self: center;
  }

  .project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding:  min(50px, 7%);
    justify-content: center;
  }

  .project-box {
    display: grid;
    grid-template-rows: 2;
    grid-gap: 20px;
    position: relative;
    text-align: center;
    place-content: center;
    cursor: pointer;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    min-height: 300px;
    padding: 2em;
    background: rgb(7, 24, 46);
  }

  .project-box::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 230%;
  }

  .project-box::after {
    content: "";
    position: absolute;
    background: rgb(7, 24, 46);
    inset: 5px;
    border-radius: 15px;
  }
  
  .project-box:hover:before {
    background-image: linear-gradient(180deg, purple, pink);
    animation: none;
    height: 170%;   
    width: 100%;
  }

  .project-title {
    color: rgb(59, 173, 255);
    text-shadow: rgba(0, 43, 98, 0.69) 1px 1px;
    z-index: 2;
    font-size: 2em;
  }

  .project-desc {
    color: wheat;
    z-index: 5;
  }

  .contact-area {
    display: grid;
    justify-items: center;
    align-content: start;
    padding: 0px, 25px, 25px 25px;
    gap: 30px;
    height: 950px;
  }

  .contact-text {
    color:antiquewhite;
    font-size: larger;
    text-align: center;
    padding-bottom: 25px;

  }

#contact-button-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-button {
  color: rgb(115, 217, 169);
  padding: 1em 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.068);
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 600;
  backdrop-filter: blur(2px);
  gap: 8px;
  transition: 0.2s;
  border: 1px solid transparent;
  border: 0.125em solid rgb(98, 226, 255);
  border-radius: 0.9375em;
  box-sizing: border-box;
  cursor: pointer;
  line-height: normal;
  min-height: 3.75em;
  min-width: 230px;
  margin-bottom: 30px;
 }

.contact-button:hover {
  border-color: rgba(255, 255, 255, 0.623);
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 238, 0.144),
    rgba(255, 0, 238, 0.247),
    rgba(255, 0, 238, 0.39)
  );
  box-shadow: 0 6px rgba(255, 255, 255, 0.623);
  transform: translateY(-6px);
 }
 
 .contact-button:active {
  transform: translateY(2px);
  box-shadow: none;

 }

  .form-container {
    width: 400px;
    background: linear-gradient(rgb(33, 33, 33), rgb(33, 33, 33)) padding-box, linear-gradient(320deg, rgb(158, 33, 197), rgb(98, 226, 255)) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 26px;
    margin: auto;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(140, 140, 140);
    font-weight: 600;
    font-size: 16px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: rgb(199, 199, 199);
    font-family: inherit;
    background-color: transparent;
    border: 1px solid rgb(65, 65, 65);
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: white;
    font: initial;
    font-size: 14px;
    height: 96px;
    border: 1px solid rgb(65, 65, 65);
    background-color: transparent;
  }
  
  #contact-header {
    text-align: center;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
    color:rgb(199, 199, 199);
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: rgb(232, 28, 255);
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: rgb(216, 28, 255);
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: white;
    font-weight: 600;
    width: 40%;
    background: linear-gradient(270deg, rgb(59, 173, 255), rgb(160, 51, 255));
    border: 2px solid rgb(65, 65, 65);
    padding: 12px 16px;
    font-size: inherit;
    gap: 8;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: white;
    border-color: rgb(255, 23, 247);
  }
  
  .footer {
    position: fixed;
    bottom: 8px;
    left: 5px;
    border-radius: 0.5rem;
    width: max(250px, 25%);
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
  }

  .footer a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(147, 141, 145, 0.276);
    background: linear-gradient(0deg, rgb(221, 221, 221), rgb(255, 255, 255));
    transition: .5s;
  }

  .github-icon {
    margin: 0px;
  }

  .footer a:hover {
    box-shadow: 0 2px 5px rgba(245, 245, 245, 0.567);
    text-decoration:none;
  }

  .github-icon:hover {
    fill:rgb(98,34,133);
  }

  .linkedin-icon:hover {
    fill:rgb(1,115,178);
  }

  .resume-icon:hover {
    fill:rgb(51, 174, 145);
  }