* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .background {
    width: 100%;
    height: 100%;
    background-color: #111111;
    background-image: linear-gradient(
      32deg,
      rgba(8, 8, 8, 0.74) 30px,
      transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;
  }
  
  html {
    display: grid;
  }

  body {
    background: rgb(38, 42, 54);
    display: grid;
    gap: 20px;
  }

  .navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 1rem;
    width: max(25%, 300px);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
  }

  .navbar a {
    font-size: 25px;
    color: rgb(253, 237, 208);
    text-shadow: #07182e 1px 1px;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
  }

  .navbar a:hover {
    color: aquamarine;
    text-shadow: #07182e 3px 3px;
  }

  .intro-container {
    position: relative;
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
    padding-top: 75px;
    align-items: center;
    justify-content: center;
  }

  .intro {
    justify-self: center;
    /* align-self: self-star; */
    text-align: center;
    padding:  min(50px, 7%);
    color: wheat;
  }

  .section-title {
    padding-top: 75px;
    color: rgb(134, 24, 193);
    text-align: center;
  }

  .home-img {
    max-width: min(500px, 80%);
    justify-self: center;
  }

  .project-grid-container {
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding:  min(50px, 7%);
    justify-content: center;
  }

  .footer {
    position: fixed;
    bottom: 5px;
    left: 0px;
    border-radius: 0.5rem;
    width: max(30%, 200px);
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
  }

  .project-box {
    display: flex;
    position: relative;
    text-align: center;
    place-content: center;
    /* perspective: 1000px; */
    cursor: pointer;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    min-height: 300px;
    padding: 2em;
    background: #07182e;
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  .back {
    transform: rotateX(180deg);
  }
  
  #pb-1.flipped {
    transform: rotateX(180deg);
  }

  .project-box::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 230%;
  }

  .project-box::after {
    content: "";
    position: absolute;
    background: #07182e;
    inset: 5px;
    border-radius: 15px;
  }

  .project-box h2 {
    z-index: 2;
    color: rgb(255, 238, 206);
    font-size: 2em;
  }

  .project-title {
    color: rgb(0, 65, 206);
    text-shadow: #002b62b0 1px 1px;
  }

  .project-desc {
    color: wheat;
    z-index: 5;
  }

  .project-box:hover:before {
    background-image: linear-gradient(180deg, purple, pink);
    animation: none;
    height: 170%;   
    width: 100%;
  }

  .footer a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.355);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }

  .github-icon {
    margin: auto;
  }

  .footer a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }

  .github-icon:hover {
    fill:rgb(98,34,133);
    /* height: 40px; */
  }

  .linkedin-icon:hover {
    fill:rgb(1,115,178);
  }

  .resume-icon:hover {
    fill:rgb(51, 174, 145);
    /* height: 40px; */
  }